<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header :: header}">
    <meta charset="UTF-8">
    <title>Cars list</title>

</head>
<body>
<div th:replace="~{fragments/nav_bar :: nav_bar}">

</div>

<div class="container text-center my-5 px-5">
    <div class="row">
        <div class="col-mb-3" th:each="car : ${carsList}">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal" th:text="${car.getMark.mark}"></h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li th:text="${car.getModel.modelName}"></li>
                        <li th:text="${car.getMillage}"></li>
                        <li th:text="${car.getPrice}"></li>
                        <li th:text="${car.getCarStatus.carStatus}"></li>
                    </ul>
                    <form action="get_car_by_id" method="get">
                        <button type="submit" name="car_id" value="${car.id}"
                                class="btn btn-lg btn-block btn-outline-primary">Просмотр
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>