<!DOCTYPE html>
<html lang="en" xmlns:ht="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header :: header}">
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<div th:replace="~{fragments/nav_bar :: nav_bar}">

</div>

<div class="content">
    <h1>Аренда автомобиля</h1>
    <p class="text-white bg-dark">
        Аренда автомобиля предполагает оказание услуг по пассажирским перевозкам. Машина передается во "временное
        владение" клиенту.
        Аренда автомобиля всегда предполагает наличие у клиента наличие действующего водительского удостоверения
        соответствующей категории.
        Отличие аренлы автомобоиля от такси в том, что в такси вы платите за километраж, а в случае с арендой вы берете
        машину на конкретное время -
        несколько часов, и оплачиваете именно это время. Договор заключается между компанией и физическим или
        юридическим
        (другая компания, организация) лицом. Обычно клиенты обращаются за услугой аренды автомобиля в Rentcar.my в тех
        случаях, когда им нужно:
        встретить гостей в аэропорту или на вокзале организовать транспортное сопровождение какого-либо мероприятия,
        развезти гостей и т.п.
        организовать свадебный кортеж реализовать собственную экскурсионную программу по Беларуси и даже за рубеж.
        К преимуществам услуги аренды можно отнести ее удобство, а также, клиенту не нужно беспокоиться о обслуживании
        машины.
        Разумеется, все сопутствующие расходы (топливо, стоянки) транспортная компания берет на себя.
    </p>
</div>
</body>
</html>